<html ng-app="sos">
    <head>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />

        <!-- Dependencies -->
        <script src="~/Scripts/lib/jquery-1.9.1.min.js"></script>
        <script src="~/Scripts/lib/angular.min.js"></script>
        <script src="~/Scripts/lib/bootstrap.min.js"></script>

        <!-- main app file -->
        <script src="~/Scripts/app/app.js"></script>

        <!-- menu code -->
        <script src="~/Scripts/app/menu/sosMenu.controller.js"></script>
        <script src="~/Scripts/app/menu/sosMenu.directive.js"></script>
    </head>
    <body>
        <sos-menu></sos-menu>
        <div>index</div>
    </body>
</html>